<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>My Travel Planner</title>


</head>
 <body>

  <header class="hero">
    <h1>My Travel Planner</h1>
    
  </header>
  <main>
    
  <section class="userInput">
    <div class ="holder tripLocation">
      <label for="tripLocation">Where are you going? </label>
      <input type="text" id="city" name="city" required placeholder="Enter city here">
      <input type="text" id="country" name="country" required placeholder="Enter country here">
    </div>
    <div class ="holder tripDate">
      <label for="tripDate">When are you going?</label>
      <input type="text" id="tripDate" placeholder="Enter date YYYY-MM-DD">  
    </div>
    
    <button class="button" id="generate" type = "submit"> Submit </button>
  </section>  
 
  <section>
    <figure>
      <img id="imgLocation" src="" alt="" />
    </figure>
    <div id="tripSummary">
      <h2>My trip summary:</h2>
      <div id="location"></div>
      <div id="countdown"></div>
      <div id="weather"></div>  
      
    </div>
   
    
    <button class="button" type = "button" value = "Print" onclick = "window.print()">Print</button>
    <button class="button" type="button" id="clearData" value="clear">Clear data</button>
  </section>
  
  </main>
  <script>
    // Check that service workers are supported
    // if ('serviceWorker' in navigator) {
    //     // Use the window load event to keep the page load performant
    //     window.addEventListener('load', () => {
    //         navigator.serviceWorker.register('/service-worker.js');
    //     });
    // }
</script>


</body>
</html>