<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>My Travel Planner</title>


</head>
 <body>

  <header class="hero">
    <h1>My Travel Planner</h1>
    
  </header>
  <main>
    
  
    <form>
    <div class ="holder city">
      <label for="city">Where are you going? </label>
      <input type="text" id="city" name="city" required placeholder="Enter city here">
      
    </div>
    <div class ="holder date">
      <label for="date">When are you going?</label>
      <input type="text" id="date" placeholder="Enter date YYYY-MM-DD">  
    </div>
    <input class="button" type="reset" value="Reset" />
    <input class="button" id="generate" value="Submit" type="submit" />
  </form>
    

   
 
  <section>
    <figure>
      <img id="imgLocation"/>
    </figure>
    <div id="tripSummary">
      <h2>My trip summary:</h2>
      <div id="location"></div>
      <div id="tripDate"></div>
      <div id="weather"></div>  
      
    </div>
   
    
    <button class="button" type = "button" value = "Print" onclick = "window.print()">Print</button>
    
  </section>
  
  </main>
  <script>
    // Check that service workers are supported
    // if ('serviceWorker' in navigator) {
    //     // Use the window load event to keep the page load performant
    //     window.addEventListener('load', () => {
    //         navigator.serviceWorker.register('/service-worker.js');
    //     });
    // }
</script>


</body>
</html>