body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

// #app{
//     display: grid;
//     grid-auto-rows: minmax(150px, auto);
//     /* grid-template-columns:  */
//     height:100vh;
//     background: #f23557;
//     color: #f0d43a;
//     justify-content: center;
//     grid-gap: 1em;
//     font-size: 2em;
  
// }

.holder{
   
    
}

.hero {

   
}


.entry{
    background: rgba(59, 74, 107, .4);
}

#imageLocation {
    width: 50%;
}

#entryHolder{

}

#date{

}



.headline {

}
.title{

}



/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

input{
    display:inline-block;
    height: 60px;
    width: 320px;
    margin: 1rem;
    
    font-size: 20px;

    border:#3b4a6b;
}

.button{
    border-radius: 16px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 16px;
    padding: 1rem;
    border: none;
    
}
button:hover {
    background: #7c8eb5;
}
h1{
    font-size: 36px;
}

textarea{
    
   
    font-size: 20px;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #868473; 

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #868473;  
    

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #868473; 
   

} 